In [1]:
from k11.models.no_sql_models import SourceMap, Format
from k11.models.models import LinkStore

from k11.vault import connection_handler

In [2]:
from collections import Counter
from typing import *

In [3]:
import numpy as np 
import pandas as pd 
%matplotlib inline 
import matplotlib.pyplot as plt 
import pickle
import re

In [4]:
connection_handler.mount_mongo_engines()

In [5]:
source_maps = list(SourceMap.objects)

In [6]:
def clean_topic(txt):
    return txt.replace(" and ","__").replace(" ", "_")

In [7]:
def get_tags_count(source_maps: List[SourceMap]):
    ts_ = []
    for source_map in source_maps:
        for link_container in source_map.links:
            if link_container.assumed_tags == None or len(link_container.assumed_tags) == 0:
                tags = source_map.assumed_tags.split(" ")
                ts_.extend(tags)
            else:
                tags = link_container.assumed_tags.split(" ")
                ts_.extend(tags)
    return Counter(ts_)

In [8]:
tags = get_tags_count(source_maps)

In [9]:
def remove(txt):
    try:
        index = txt.index("[")
        return clean_topic((txt[:index]).strip())
    except ValueError:
        return clean_topic(txt)

In [10]:
# "celebrity and gossips [bollywood, hollywood]".index("(")

In [11]:
topics = pd.read_csv('topic.csv')
topics["sub_topics"] =topics["sub_topics"].apply(remove)
topics

,sub_topics,topics
0,celebrity__gossips,art and entertainment
1,dance,art and entertainment
2,humor,art and entertainment
3,films__tv__series,art and entertainment
4,music,art and entertainment
...,...,...
80,innovation__invention,technology and computing
81,travel__adventure,travel
82,facts,miscellaneous
83,weird__mystery__anomaly__paranormal__magic__il...,miscellaneous
84,miscellaneous,miscellaneous

In [12]:
for topic in topics["sub_topics"].values.tolist():
    if topic not in tags.keys():
        tags[topic] = 0

In [13]:
df = pd.DataFrame()
df["cat"] = tags.keys()
df["count"] = tags.values()

In [14]:
df.sort_values(by ='count', ascending = 0, inplace=True)

In [18]:
df[16:50]

                                                  cat  count
37                                            society     13
32                                              facts     11
23                                            fashion     11
6                                        relationship     11
27                        space_technology__astronomy     10
14                                                        10
11                                      miscellaneous     10
29                                            science     10
44                        celebirity_fashion__contest      9
35           backend__framework__game__software__apps      8
24                              technology__computing      6
22                                         art__craft      6
56                                        career__job      6
50                       nature__weather__environment      5
45                                 celebrity__gossips      5
40                                 crime__cyber_crime      4
7                               innovation__invention      4
5                                      sports__events      4
38                   war_industry__technology__unrest      4
36                         celebrity_fashion__contest      3
46                                 disease__disorders      3
19                                 video_games__games      3
60                                             health      3
62                        investing__personal_finance      3
13                                            android      3
12                                 art__entertainment      3
4   botany__cytology__marine_biology__zoology__mol...      3
53                                           startups      2
61                                                sex      2
49                                            physics      2
0                                               humor      2
52                              armed_forces__defence      2
47                             religion__spirituality      2
17                                windows__mac_os__os      1

In [57]:
len(df["cat"])

107

In [12]:
remap = {
    'celebirity_fashion__contest':"celebrity_fashion__contest"
}

In [17]:
def get_new_tag_string(remap, tags):
    ts_ = []
    for tag in tags.split(" "):
        if tag in remap.keys():
            ts_.append(remap[tag])
        else:
            ts_.append(tag)
    return " ".join(ts_)

In [30]:
def update(remap, source_maps):
    for source_map in source_maps:
        source_map.assumed_tags = get_new_tag_string(remap, source_map.assumed_tags)
        # print(source_map.source_name)
        for index, link_container in enumerate(source_map.links):
            link_container.assumed_tags = get_new_tag_string(remap, link_container.assumed_tags)
            source_map._links[index] = link_container.to_dict()
        source_map.save()

In [12]:
# update(remap, source_maps)

In [11]:
# for source_map in source_maps:
#     inp = input(f"Enter source locs for {source_map.source_name} on link {source_map.source_home_link}\n")
#     if inp != None and len(inp) > 0:
#         if inp == "qe":
#             break
#         else:
#             source_map.source_locations = inp.split(" ")
#     source_map.save()

In [13]:
n_links = 0
for source_map in source_maps:
    n_links += len(source_map.links)
print(n_links)

358